
form{
    border:1px solid #000;
    padding:10 px;
    border-radius:15px;
    background-color:#eee;
}

#divCarteira{
    margin-right: auto;
    margin-left: auto;
	width: 1417px;
	height: 850px;
	background-image: url(img/CarteiraZerada.png);
}

#campos{
    font-family: Neue Plak;
    font-weight: 800;
    font-size: 36pt;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    color: white;
    text-align: right;
}
#output{
	position:absolute;
    width: 285px;
    height: 312px;
	margin-left: 120px;
	margin-top: 192px;
}

#output2{
	position:absolute;
    width: 179px;
    height: 189px;
	margin-left: 175px;
	margin-top: 564px;
}

#divNome{
    padding-top: 310px;
    margin-right: 100px;
    text-transform: uppercase;
}

#divInstituição{
    padding-top: 35px;
    margin-right: 100px;
}

#divMatricula{
    padding-top: 30px;
    margin-right: 100px;
    text-transform: uppercase;
}

#divCpf{
    padding-top: 30px;
    margin-right: 100px;
    text-transform: uppercase;
}

#divValidade{
    padding-top: 35px;
    margin-right: 100px;
    text-transform: uppercase;
}

